<!DOCTYPE html>
<html lang="en">

<head>
	{{!-- bootstrap, nes.css, google fonts, jquery --}}
	<meta charset="UTF-8">
	    <meta 
        name="image"
        property="og:image"
        content="https://raw.githubusercontent.com/diminako/retro_backlog/main/public/assets/images/screenshot.png"
    />
    <meta 
        name="description"
        property="og:description"
        content="Retro Backlog"
    />
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
	<title>Gamelist Backlog!</title>
	<script src="https://code.jquery.com/jquery.js"></script>
	<!-- CSS only -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
	<link href="https://unpkg.com/nes.css@2.3.0/css/nes.min.css" rel="stylesheet" />
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
	<script src="/assets/js/games.js"></script>

</head>

<body>
	{{!-- inserts the body from coresponding handlebars pages --}}
	{{{ body }}}
</body>

</html>