<h1>Retro Backlog</h1>

<main class="container">
  <div class="row">
    <div class="col-sm-7">
      <h2>Need to Complete</h2>
      <ul>

        {{#each games}}
        {{#unless completed}}
        {{> games/game-block completed=false}}
        {{/unless}}
        {{/each}}

      </ul>
    </div>

    <div class="col-sm-5">
      <h2>Completed</h2>
      <ul>
        {{#each games}}
        {{#if completed}}
        {{> games/game-block completed=true}}
        {{/if}}
        {{/each}}
      </ul>
    </div>
  </div>

  <div class="row">
    <h2>Add a game to the Backlog.</h2>
    <div class="col-sm-8 formDiv">
      <form class="formInput" action="">
        <div>
          <label for="gameCreate"></label>
          <input type="text" name="name" id="gameCreate">
        </div>
        <button class="submit">Add Game to Backlog!</button>
      </form>
    </div>
  </div>

</main>