<div class="background">
  {{!-- header outside of other content --}}
  <header>
    <h1>Retro Backlog</h1>
  </header>

  <main class="container">
    <div class="row gamesDiv">
      <div class="col-sm-6">
        {{!-- Backlog games section that havent been completed yet. --}}
        <h2>Need to Complete</h2>
        <ul>
          {{!-- cycles through #each item in the table db and checks if game has been completed or not --}}
          {{#each games}}
          {{#unless completed}}
          {{> games/game-block completed=false}}
          {{/unless}}
          {{/each}}

        </ul>
      </div>
      <div class="col-sm-1"></div>

      {{!-- Section consiting of games that have been completed --}}
      <div class="col-sm-5">
        <h2>Completed</h2>
        <ul id="completedGames">
          {{#each games}}
          {{#if completed}}
          {{> games/game-block completed=true}}
          {{/if}}
          {{/each}}
        </ul>
      </div>
    </div>

    {{!-- form section that allows you to add another game to your backlog --}}
    <div class="row">
      <div class="col-sm-6 formDiv nes-field">
        <form class="formInput" action="">
          <button class="submit nes-balloon from-left nes-pointer">Add Game to Backlog!</button>
          <div>
            <label for="gameCreate"></label>
            <input class="nes-input" type="text" name="name" id="gameCreate" maxlength="22" pattern="[a-zA-Z0-9-]+">
          </div>
        </form>
      </div>
    </div>

  </main>
</div>