<div>
	<div class="btnDiv">
		{{name}}
		{{#unless completed}}
		<span class="">
			<button class="pixelart-to-css complete" data-id="{{id}}">Defeated!</button>

		</span>
		{{/unless}}
	</div>
</div>