<div>
	<div class="btnDiv">
		{{name}}
		{{#unless completed}}
		<span class="btnSpan">
			<button class="complete nes-btn is-primary nes-pointer" data-id="{{id}}">Complete!</button>
		</span>
		{{/unless}}
	</div>
</div>